# Normalize line endings to LF in the repo, check out as native
* text=auto eol=lf

# Binary files
*.bin binary
*.elf binary
*.hex binary
*.png binary
*.jpg binary
*.bmp binary
*.xbm binary
*.xlsx binary
*.pdf binary
